header{
    background-color: #FFA07A;
    font-size: x-large;
    color:azure;
} 
 
.center{
  text-align: center;
  background-color:rgba(93, 173, 226,0.8);
}
.header{
  margin-bottom: 0;
}
.row{
  background-color: #5DADE2;
}
.card{
  background-color: lightblue
}
 .carousel-inner {
        background-color: #5DADE2;
        text-align: center;
        line-height: 5;
        font-size: 5rem;
      }
      .carousel-item {
        height: 5em;
      }